.mainDiv {
    border: 1px dashed;
    background-color: none;
    height: 600px;
    width: 600px;
    display: block;
    position: absolute;
	top:150px;
	left: 0;
	right: 0;
    margin: auto;
}

.imgDiv {
    border: 1px dashed;
    background-color: none;
    height: 150px;
    width: 150px;
    display: block;
    position: absolute;
}

.topDiv{
    border: 1px dashed;
    background-color: none;
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.bottomDiv{
    border: 1px dashed;
    background-color: none;
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: 750px;
    left: 0;
    right: 0;
    margin: auto;
}

.bottomDivWide{
    border: 1px dashed;
    background-color: none;
    height: 100px;
    width: 200px;
    display: block;
    position: absolute;
    top: 750px;
    left: 0;
    right: 0;
    margin: auto;
}

.wrapper {
    background-color: none;
    height: 850px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    margin: auto;
}